.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0;
}

.slick-prev:before {
  color: black;
  content: url('/icons/slick-prev.svg');
}
.slick-prev,
.slick-next {
  top: 10px;
  z-index: 1;
}

.slick-next:before {
  content: url('/icons/slick-next.svg');
}
.slick-slider {
}
