.formContainer {
  margin: auto;
  width: 630px;
  height: 1800px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 3s;
}
.open {
  opacity: 1;
  visibility: visible;
  display: block;
}

.multiselectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  max-width: 340px;
  gap: 15px 8px;
}

.spreadsContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
