.splashScreen {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.splashScreen.enterActive {
  opacity: 0;
}
.splashScreen.enterDone {
  opacity: 0;
}

.ringLeft,
.ringHalfLeft,
.ringHalfRight,
.ringRight,
.ringTop,
.ringBottom,
.ringCenterStatic,
.ringCenterAnimated {
  border: black 0.5px solid;
  background-color: transparent;
  border-radius: 50%;
}

.ringLeft {
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-70%, -50%);
}
.enterActive .ringLeft {
  animation: animationRingLeft 3000ms ease-in forwards;
}
@keyframes animationRingLeft {
  to {
    transform: translate(-100%, -50%);
  }
}

.ringHalfLeft {
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  transform: translate(-20%, -50%);
  left: 0;
  top: 50%;
}
.enterActive .ringHalfLeft {
  animation: animationRingHalfLeft 3000ms ease-in forwards;
}
@keyframes animationRingHalfLeft {
  to {
    transform: translate(-100%, -50%);
  }
}

.ringHalfRight {
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  transform: translate(20%, -50%);
  right: 0;
  top: 50%;
}
.enterActive .ringHalfRight {
  animation: animationRingHalfRight 3000ms ease-in forwards;
}
@keyframes animationRingHalfRight {
  to {
    transform: translate(100%, -50%);
  }
}

.ringRight {
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  transform: translate(70%, -50%);
  right: 0;
  top: 50%;
}
.enterActive .ringRight {
  animation: animationRingRight 3000ms ease-in forwards;
}
@keyframes animationRingRight {
  to {
    transform: translate(100%, -50%);
  }
}

.ringTop {
  height: 62%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}
.enterActive .ringTop {
  animation: animationRingTop 3000ms ease-in forwards;
}
@keyframes animationRingTop {
  to {
    transform: translate(-50%, -100%) scale(0.8);
  }
}

.ringBottom {
  height: 62%;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30%);
}
.enterActive .ringBottom {
  animation: animationRingBottom 3000ms ease-in forwards;
}
@keyframes animationRingBottom {
  to {
    transform: translate(-50%, 100%) scale(0.8);
  }
}

.ringCenterStatic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.enterActive .ringCenterStatic {
  border: none;
  animation: animationMainBar 3000ms ease-in forwards;
}
@keyframes animationMainBar {
  to {
    left: 0;
    transform: translate(-100%, -50%);
  }
}

.ringCenterAnimated {
  display: none;
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.enterActive .ringCenterAnimated {
  display: block;
  animation: animationRingCenter 3000ms ease-in forwards;
}

@keyframes animationRingCenter {
  to {
    transform: scale(2) translate(-25%, -25%);
    border-width: 0.25px;
  }
}

.splashScreenText {
  display: inline-block;
  padding: 50px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainBar {
  width: 100%;
  height: 210px;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  position: absolute;
  transition: border 0.2s;
}
.enterActive .mainBar {
  border-top-color: transparent;
}

.splashScreenHeader {
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}
.enterActive .splashScreenHeader {
  background-color: transparent;
}

.splashScreenButton {
  font-family: 'Oxygen Mono', monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 14px;
  border: none;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}
.enterActive .splashScreenButton {
  background-color: transparent;
}

@container root (aspect-ratio < 1 / 1) {
  .ringCenterAnimated,
  .ringCenterStatic {
    min-width: 120%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
