#root {
  background-color: #fbfbfb;
  text-align: center;
  width: min-content;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
